.v1_product_list_006 {
    .container {
        text-align: left;
    }

    .header {

        h3 {
            color: #333333;
        }

        ul {
            margin: 30px -10px 0;
            // text-align: center;
        }

        li {
            display: inline-block;
            padding: 10px 30px;
            background-color: #f5f5f5;
            border-radius: 6px;
            cursor: pointer;
            margin: 0 10px 10px;
        }

        li.active {
            background-color: #d6efe8;
            color: #004d37;
        }
    }

    .tab-content {
        display: flex;
        flex-wrap: wrap;
        margin: 50px -10px 0;

        li {
            width: calc(33.33% - 20px);
            margin: 0 10px 20px;
            background-color: #ffffff;
            box-shadow: 0px 6px 27px 0px rgba(0, 0, 0, 0.06);
            border-radius: 0px 0px 4px 4px;
        }

        .item {
            display: flex;
            align-items: center;
        }

        h4 {
            color: #1a1a1a;
        }

        .title {
            color: #1a1a1a;
            margin-right: 20px;
        }

        p {
            margin: 0;
            color: #808080;
        }
    }

    .text-wrap {
        padding: 20px 30px;
        box-sizing: border-box;
    }
    .my-page {
        margin-top: 100px;
    }

}


@media (max-width:768px) {
    .v1_product_list_006 {
        .tab-content li {
            width: calc(50% - 20px);
        }

        .my-page {
            margin-top: 40px;
        }
    }
}

@media (max-width:420px) {
    .v1_product_list_006 {
        .header {
            display: block;

            h3 {
                margin: 0;
                text-align: center;
                width: 100%;
                max-width: 100%;
            }

            ul {
                width: 100%;
                max-width: 100%;
                margin: 20px auto 0;
                text-align: center;
            }
        }

        .tab-content {
            margin-top: 40px;

            li {
                width: 100%;
            }
        }
    }
}
