.mml-footer {
	padding: 80px 0;
	/* 变量 */
	background-color: #fff;
	/* 变量 */
	color: #262626;
	.container {
		display: flex;
		justify-content: space-between;
	}
	.footer-item {
		text-align: left;
		margin-right: 20px;
		&:first-child {
			max-width: 200px;
			img {
				display: inline-block;
				max-width: 100%;
			}
		}
		&:last-child {
			margin-right: 0;
			max-width: 250px;
		}
		.footer-item-tit {
			margin-bottom: 5px;
			color: #262626; // 变量
		}
		a,.menu-item a {
			display: inline-block;
			margin-bottom: 10px;
			color: #808080; // 变量
			&:hover {
				color: #03a67b; // 变量
			}
		}
		.widget_nav_menu {
			.sub-menu {
				margin-left: 20px;
			}
		}
	}
	.footer-item-icons {
		li {
			display: flex;
			margin-bottom: 10px;
			i {
				display: inline-block;
				margin-right: 10px;
				font-size: 25px;
			}
		}
	}
}

.mml-footer-copyright {
	padding: 20px 0;
	/* 变量 */
	background-color: #e9e9e9;
	/* 变量 */
	text-align: center; 
	/* 变量 */
	color: #b3b3b3;
}

@media only screen and (max-width: 680px) {
	.mml-footer {
		.container {
			flex-wrap: wrap;
			.footer-item {
				width: calc(50% - 20px);
				margin-bottom: 20px;
				margin-right: 0;
				&:first-child, &:last-child {
					max-width: none;
				}
				&:nth-child(odd) {
					margin-right: 20px;
				}
			}
		}
	}


@media only screen and (max-width: 414px) {
	.mml-footer {
		.container {
			.footer-item {
					width: 100%;
					margin-right: 0;
					&:nth-child(odd) {
						margin-right: 0;
					}
				}
			}
		}
	}
}