.v1_clients_006{
    .slicker{
        max-width: 1010px;
        margin:40px auto;
        padding:0 100px;
        .icon{
            max-width: 138px;
            max-height: 138px;
            border-radius: 50%;
            border: solid 1px #5d6777;
            overflow: hidden;
            margin:0 auto 15px;
        }
        .slick-arrow{
            position: absolute;
            top:57%;
            // transform: translateY(-50%);
            z-index: 2;
            font-size: 24px;
            cursor: pointer;
            &.btn-l{
                left:0;
            }
            &.btn-r{
                right:0;
            }
        }
    }

    .list{
        margin: 0 -10px;

        .slick-slide{
            max-width: 180px;
            margin: 0 10px;
        }    
        li{
            border: solid 1px #5d6777;
        }
    }

    @media screen and (max-width:880px){
        .slicker{
            padding:0 40px;
            
        }
    }

}