.v1_feature_072{
    .container{
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        max-width: 100%;
    }
    .cat-sidebar{
        box-sizing: border-box;
        margin-right: 10px;
        margin-left: 10px;
        width: 280px;
        // width: 25%;
        height: fit-content;
        flex:1;
        text-align: left;
        h4{
            padding: 15px 10px;
            text-align: center;
        }
    }
    .cat-menus{
        border: 1px solid #d6d6d6;
        border-top: none;
        li{
            position: relative;
        }
        > .mml-active {
            > .cat-item{
                color: #03a57b;
                background-color: #f5f5f5;
            }
           
        }
        
    }
    .mml-active {
        > .cat-submenu{
            height: unset;
            padding: 10px 0 10px 20px;
        }
        .fa-chevron-right{
            transform: rotate(90deg);
            color: #03a57b;

        }
    }
    .cat-item{
        position: relative;
        padding: 15px 40px 15px 20px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
    }
    i{
        position: absolute;
        right:10px;
        top:18px;
        z-index: 2;
        cursor: pointer;
    }
    .fa-chevron-right{
        
    }
    .cat-submenu{
        padding: 0 0 0 20px;
        height: 0;
        transition: all .24s;
        overflow: hidden;
        .cat-item{
            padding: 4px 20px;
        }
    }

    .cat-main{
        max-width: 900px;
        width: 75%;
        // margin:0 -10px 0 0;
        // flex:1 1 auto;

    }
    .blk{
        text-align: left;
        &:not(:last-child){
            margin-bottom: 50px;
        }
    }
    .tit{
        margin: 0 10px 20px;
    }
    // .slicker{
    //     li{
    //         text-align: center;
    //     }
    //     h4{
    //         margin-top: 10px;
    //     }
    // }
    .swiper-slide{
        max-width: 280px;
        width: calc(33.33% - 20px)!important;
        margin:0 10px;
        text-align: center;
        h4{
            margin-top: 10px;
        }
        &.swiper-slide-active{
            h4{
                color: #03a57b;
            }
            // img{
            //     filter: grayscale(50%);
            //     -webkit-filter: grayscale(50%);
            // }
        }

    }

    @media (max-width: 880px){
        .cat-sidebar{
            width: 100%;
            margin: 0 auto 30px;
        }
        .cat-main{
            width: 100%;
            margin: 0 auto ;
        }
    }
    @media (max-width: 600px){
        .swiper-slide{
            width: calc(50% - 20px) !important;
        }
    }
    
}