.v1_feature_004 {
    .container {
        display: flex;
    }

    .left-wrap {
        max-width: 670px;
        width: 57%;
        text-align: left;
        margin-right: 30px;
        padding: 20px 0;
        span {
            color: #000000;
            font-size: 20px;
            display: block;
        }

        h2 {
            color: #000000;
        }

        p {
            color: #000000;
            margin-top: 30px;
        }

        .btns {
            display: flex;
            margin-top: 50px;

            a {
                width: 190px;
                height: 50px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:nth-of-type(1) {
                    background-color: #00a978;
                    color: #FFF;
                    margin-right: 20px;
                }

                &:nth-of-type(2) {
                    border: solid 1px #00a978;
                    color: #00a978;
                }
            }
        }

    }

    .right-wrap {
        max-width: 480px;
        margin-left: auto;
        width: 41%;
    }
    .slick-active button {
        background-color: #00a978;
    }
}

@media (max-width:768px) {
    .v1_feature_004 {
        .container {
            display: block;
        }
        .left-wrap {
            width: 100%;
            max-width: 100%;
        }
        .right-wrap {
            width: 100%;
            max-width: 100%;
            margin: 40px auto 0;
            padding: 20px 0;
        }
    }
}

@media (max-width:430px) {
    .v1_feature_004 {
        .left-wrap .btns {
            justify-content: center;
            a {
                &:nth-of-type(1) {
                    margin: 0 auto;
                }
            }
        }
        .right-wrap {
            margin-top: 0;
        }
    }
}