.v1_feature_071{
    position: relative;
    &::before{
        position: absolute;
        left:0;
        bottom:0;
        z-index: -1;
        display: block;
        content: '';
        width: 61%;
        height: 60%;
        background-color: #eaeef3;
    }
    .container{
        max-width: 1400px;
        width: 100%;
        display:flex;
        justify-content: space-between;
    }
    .mml-img{
        max-width: 492px;
        flex:1;

        height:fit-content;
    }
    .info{
        max-width: 500px;
        height:fit-content;
        flex:1;
        margin: 0 20px;
        text-align: left;
    }
    .btns{
        margin-top: 60px;
    }
    .btn{
        border-radius: 5px;
        border: solid 1px #5f6776;
    }
    .thumb{
        max-width: 200px;
        flex:1;
        height:fit-content;

    }

    @media screen and (max-width:880px){
        .container{
            flex-wrap: wrap;
            justify-content: center;
        }
        .mml-img{
            width: 100%;
            flex:auto;
            margin:0 auto 30px;
        }
        .info{
            width: 70%;
            flex:auto;
            margin: 0 5%;

        }
        .thumb{
            width: 20%;
            flex:auto;

        }
    }
}