.v2_blog_001 h2 {
  text-align: left;
  margin-bottom: 10px;
}

.v2_blog_001 .blog-wrap {
  position: relative;
}

.v2_blog_001 .list > li {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 10px;
}

.v2_blog_001 .list > li:first-child {
  margin-top: 140px;
}

.v2_blog_001 .img {
  position: relative;
  z-index: 2;
  max-width: 580px;
  margin: auto;
}

.v2_blog_001 .desc {
  position: relative;
  z-index: 3;
  max-width: 540px;
  width: 95%;
  padding: 25px 60px 60px;
  margin: -90px auto 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.v2_blog_001 .link {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.v2_blog_001 .link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .v2_blog_001 .desc {
    padding: 25px 30px 30px;
  }
}

@media screen and (max-width: 767px) {
  .v2_blog_001 h2 {
    text-align: center;
  }
  .v2_blog_001 .list > li {
    width: 100%;
    margin: 0 auto 30px !important;
  }
  .v2_blog_001 .link {
    position: relative;
    text-align: center;
  }
}
